
footer {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 1rem;
    justify-content: space-between;
    background-color: blueviolet;
    z-index: 1;
}

html,body {
    margin: 0   ;
    height: 100%;
}

