
#contenedor{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}



#parte1{
    width: 30%;
    padding: 2rem;
    background-color:hsl(223, 64%, 34%);
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
}

#imagen{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#imagenPerfil{
    width: clamp(150px, 80%, 300px);
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

#parte2{
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

h1{
    margin-bottom: 5px;
}

h2{
    margin-top: 0;
    margin-bottom: 1rem;

}

#link{
    color:white;
    text-decoration: none;
}

.lineas{
    margin-top: 4px;
}

.lineaparte1{
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 1rem;
}

.lineaparte2{
    width: 100%;
    height: 2px;
    background-color:hsl(223, 64%, 34%) ;
    margin-bottom: 1rem;
}


.iconos{
    color: hsl(223, 64%, 34%);
    vertical-align: middle;
    margin-right: 8px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 4px;
    background-color: white;
}

@media (max-width: 768px) {
    #contenedor {
        flex-direction: column;
    }

    #parte1, #parte2 {
        width: 100%;
    }

    #imagenPerfil {
        width: 200px;
        height: 200px;
    }
}