
#contenedor{
    display: flex;
    flex-direction: row;
    
    height: calc(100vh - 50px);
}

#parte1{
    width: 30%;
    padding: 2rem;
    background-color:hsl(223, 64%, 34%);
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
}

#imagen{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#imagenPerfil{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

#parte2{
    width: 70%;
    padding: 2rem;
}

.lineas{
    margin-top: 4px;
}

.lineaparte1{
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 1rem;
}