#contenedor {
    display: flex;
    
    padding: 2rem;
}


#principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#alerta {
    display: none;
    text-align: center;
    padding: 2rem;
}

#links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

#modolebronjames {
    opacity: 0;
    cursor: pointer;
}

#botones{
    display: none;
}

#botones button{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;

}   

#links a{
    text-decoration: none;
    color: hsl(223, 64%, 34%);
}

@media (max-width: 800px) {
 

    #botones{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }

   
}
