#contenedor {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}



*{
    text-decoration: none;
    color: black;
}

main {
    flex: 1;

}
.cards img {
    width: 400px;
    height: 200px;
   
}

#titol{
    text-align: center;
    margin-bottom: 2rem;
}

p{
    text-align: center;
}

.cards{
    flex: 0 1 400px;

    border: 1px solid #000;
    border-radius: 8px;
}



#portafolio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}


