#contenedor {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

html,body {
    margin: 0   ;
    height: 100%;
}

*{
    text-decoration: none;
    color: black;
}

main {
    flex: 1;

}
.cards img {
    width: 400px;
    height: 200px;
   
}

#titol{
    text-align: center;
    margin-bottom: 2rem;
}

p{
    text-align: center;
}

.cards{
    flex: 0 1 400px;

    border: 1px solid #000;
    border-radius: 8px;
}

footer {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 1rem;
    justify-content: space-between;
    background-color: blueviolet;
    z-index: 1;
}

#portafolio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}


