#contenedor {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
#portafolio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


